<div>
    <div class="overlay-fadein"></div>
    <div class="dim popup_close"></div>
    <div class="alert_wrap"></div>
    <div class="toast_wrap"></div>
    <div class="progress" style="left:0%;"></div>
    <div class="loading">
        <div>
            <span></span>
        </div>
    </div>
</div>