<div>
    <div class="dim no_popup_close"></div>
    <div class="dim popup_close"></div>
    <div class="alert_wrap"></div>
    <div class="toast_wrap"></div>
    <div class="progress" style="left:0%;"></div>
    <div class="loading">
        <div>
            <span></span>
        </div>
    </div>
</div>
<script src="/js/lib/vue.js"></script>

<div id="login_box" class="popup main center">
    <div class="popup_close_button x_button" onClick="popupClose(this.parentElement)"></div>
    <h2>로그인</h2>
    <a class="button main_button oauth_button" href="https://auth.bssm.kro.kr/oauth?clientId=7f2e3149&redirectURI=https://drive.bssm.kro.kr/api/user/oauth/bsm">
        <img src="/icons/bsm-icon.png" alt="bsm-icon"/>
        <span>BSM 계정으로 계속</span>
    </a>
</div>

<script src="/js/alert.js"></script>
<script src="/js/lib/axios.js"></script>
<script src="/js/ajax.js"></script>