<div>
    <div class="dim no_popup_close"></div>
    <div class="dim popup_close"></div>
    <div class="alert_wrap"></div>
    <div class="toast_wrap"></div>
    <div class="progress" style="left:0%;"></div>
    <div class="loading">
        <div>
            <span></span>
        </div>
    </div>
</div>
<script src="/js/lib/vue.js"></script>

<div id="login_box" class="popup main center">
    <div class="popup_close_button x_button" onClick="popupClose(this.parentElement)"></div>
    <div class="logo"><img src="https://bssm.kro.kr/icons/logo.png" alt="로고"></div>
    <h2>로그인</h2>
    <p>BSM Cloud를 이용하기위해 BSM 계정으로 로그인이 필요합니다.</p>
    <br>
    <a href="https://bssm.kro.kr/login" class="button accent main_button">로그인 페이지 이동</a>
</div>

<script src="/js/alert.js"></script>
<script src="/js/lib/axios.js"></script>
<script src="/js/ajax.js"></script>