<html lang="kr">
<head>
    <%- include('../common/head') %>
    <title>BSM Cloud</title>
    <meta property="title" content="BSM Cloud">
    <meta property="description" content="BSM 클라우드 서비스">
    <meta property="og:title" content="BSM Cloud">
    <meta property="og:description" content="BSM 클라우드 서비스">
    <link rel="stylesheet" type="text/css" href="/css/pages/drive.css">
    <script src="/js/common.js"></script>
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <section id="file_section">
            <ul id="files">
                <li v-for="(file, idx) in files" :class="{active:focus==file.fileId}" :onclick="`selectFile(${idx})`">
                    <div class="file_icon">
                        {{file.fileName.split('.')[file.fileName.split('.').length-1]}}
                    </div>
                    <div class="file_name">
                        {{file.fileName}}
                    </div>
                </li>
            </ul>
        </section>
        <aside id="file_info_bar">
            <label id="file_upload" for="upload_input" class="clear_button">
                <input id="upload_input" type="file" onchange="uploadFile(this.files[0]);this.value=''">
                <div></div>
            </label>
            <div id="file_top_bar">
                <h2 v-if="file.fileName">{{file.fileName}}</h2>
                <h2 v-if="!file.fileName">선택된 파일 없음</h2>
            </div>
            <div id="file_info" v-if="file.fileId">
                <p>파일 ID: {{file.fileId}}</p>
                <p>파일 크기: {{formatBytes(file.size)}}</p>
                <p>수정된 날짜: {{new Date(file.created).toLocaleString()}}</p>
            </div>
            <div id="file_menu" v-if="file.fileId">
                <button class="button main_button" :onclick="`downloadFile('${file.fileId}')`">다운로드</button>
                <label class="button sub_button" for="update_input">
                    업데이트
                    <input id="update_input" type="file" :onchange="`uploadFile(this.files[0], '${file.fileId}');this.value=''`">
                </label>
                <button class="button sub_button red_button" :onclick="`deleteFile('${file.fileId}')`">삭제</button>
            </div>
            <div id="drive_info">
                <div id="total_used_bar">
                    <div></div>
                </div>
                <p>드라이브 전체 {{formatBytes(drive.total)}} 중 {{formatBytes(drive.used)}} 사용 중</p>
            </div>
        </aside>
    </main>
    <div>
        <div id="create_drive_box" class="popup main center">
            <form v-if="step==0" autocomplete="off" onsubmit="createDriveBoxView.changeStep(1);createDrive();return false;">
                <h2>환영합니다</h2>
                <p>
                    BSM Cloud는 인터넷을 통해 언제 어디서나 접속할 수 있는 클라우드 서비스 입니다.
                    <br>
                    이 서비스를 이용하기 위해 BSM 계정이 필요하며 다음의 사용자 정보들이 필요합니다
                </p>
                <p>유저코드: 사용자를 식별하기 위해 필요</p>
                <div class="bottom_box">
                    <label>
                        <input type="checkbox" required="true">
                        정보 제공에 동의합니다
                    </label>
                </div>
                <button type="submit" class="main_button button">드라이브 생성</button>
            </form>
            <div v-if="step==1">
                <h2>생성중...</h2>
                <p>드라이브 생성중 입니다. 잠시 기다려주세요.</p>
            </div>
            <div v-if="step==2">
                <div class="popup_close_button x_button" onClick="popupClose(this.parentElement.parentElement);$('.dim.no_popup_close').classList.remove('on');"></div>
                <h2>성공</h2>
                <p>드라이브 생성에 성공하였습니다.</p>
            </div>
        </div>
    </div>
    <script src="/js/alert.js"></script>
    <script src="/js/lib/axios.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/lib/vue.js"></script>
    <script src="/js/drive/load.js"></script>
    <script src="/js/drive/main.js"></script>
</body>
</html>