<html lang="kr">
<head>
    <%- include('../common/head') %>
    <title>BSM Cloud</title>
    <meta property="title" content="드라이브 | BSM Cloud">
    <meta property="description" content="드라이브 | BSM 클라우드 서비스">
    <meta property="og:title" content="드라이브 | BSM Cloud">
    <meta property="og:description" content="드라이브 | BSM 클라우드 서비스">
    <link rel="stylesheet" type="text/css" href="/css/pages/drive.css">
    <script src="/js/common.js"></script>
</head>
<body>
    <main>
        <section id="file_section" class="scroll_bar">
            <header id="dir_bar">
                <ol id="dirs" class="scroll_bar">
                    <li v-for="(dir, idx) in dirs" class="dir">
                        <div class="arrow">
                            >
                        </div>
                        <div class="folder_name" :onclick="`changeDir(${idx})`">
                            {{dir.folderName}}
                        </div>
                    </li>
                </ol>
            </header>
            <ul id="files">
                <li v-for="(folder, idx) in folders" :class="{active:focus==folder.folderId}" :onclick="`selectItem(${idx}, 'folder')`">
                    <div v-if="folder.folderId" class="file_icon">
                        Folder
                    </div>
                    <div v-if="folder.folderId" class="file_name">
                        {{folder.folderName}}
                    </div>
                </li>
                <li v-for="(file, idx) in files" :class="{active:focus==file.fileId}" :onclick="`selectItem(${idx}, 'file')`">
                    <div v-if="file.isShare" class="share_file_icon"></div>
                    <div class="file_icon">
                        {{file.fileName.split('.')[file.fileName.split('.').length-1].toUpperCase()}}
                    </div>
                    <div class="file_name">
                        {{file.fileName}}
                    </div>
                </li>
            </ul>
        </section>
        <aside id="file_info_bar">
            <div id="upload_button">
                <div class="icon">
                    <object data="/resource/common/images/x.svg"></object>
                </div>
                <ul id="upload_menus">
                    <label for="upload_input" class="menu">
                        파일 업로드
                        <input id="upload_input" type="file" onchange="uploadFile(this.files[0]);this.value=''">
                    </label>
                    </li>
                    <li class="menu" onclick="popupOpen($('#create_folder_box'))">
                        폴더 생성
                    </li>
                </ul>
            </div>

            <div v-if="type=='none'" id="file_top_bar">
                <h2>선택된 파일 없음</h2>
            </div>
            <div v-if="type=='file'" id="file_top_bar">
                <h2>{{file.fileName}}</h2>
            </div>
            <div v-if="type=='folder'" id="file_top_bar">
                <h2>{{folder.folderName}}</h2>
            </div>

            <div v-if="type=='file'">
                <div id="file_info">
                    <p>
                        <span>파일 크기: {{formatBytes(file.size)}} • 파일 공유</span>
                        <span v-if="!file.isShare">: 비공개</span>
                        <span v-else>: 공개</span>
                    </p>
                    <p>수정된 날짜: {{new Date(file.created).toLocaleString()}}</p>
                    <details>
                        <summary>파일 ID</summary>
                        <p>{{file.fileId}}</p>
                    </details>
                    <details v-if="file.isShare">
                        <summary>공유 링크</summary>
                        <a :href="`https://drive.bssm.kro.kr/share/${file.fileId}`" target="blink">https://drive.bssm.kro.kr/share/{{file.fileId}}</a>
                    </details>
                </div>
                <div v-if="mode=='normal'" id="file_menu">
                    <button class="button main_button accent" :onclick="`downloadFile('${file.fileId}')`">다운로드</button>
                    <span id="file_sub_menu" class="dropdown_menu">
                        <span class="select button">더보기</span>
                        <ul class="dropdown_content">
                            <li class="option" onclick="popupOpen($('#share_file_box'))">파일 공유</li>
                            <li class="option" v-on:click="changeMode('move')">파일 이동</li>
                            <label class="option">
                                업데이트
                                <input type="file" :onchange="`uploadFile(this.files[0], '${file.fileId}');this.value=''`">
                            </label>
                            <li class="option delete" :onclick="`deleteFile('${file.fileId}')`">삭제</li>
                        </ul>
                    </span>
                </div>
                <div v-if="mode=='move'" id="file_menu">
                    <button class="button main_button accent" :onclick="`moveFile('${file.fileId}')`">여기로 이동</button>
                    <button class="button sub_button delete" v-on:click="cancleMode()">이동 취소</button>
                </div>
            </div>
            <div v-if="type=='folder'">
                <div id="file_info">
                    <details>
                        <summary>폴더 ID</summary>
                        <p>{{folder.folderId}}</p>
                    </details>
                </div>
                <div v-if="mode=='normal'" id="file_menu">
                    <button class="button main_button" v-on:click="changeMode('move')">폴더 이동</button>
                </div>
                <div v-if="mode=='move'" id="file_menu">
                    <button class="button main_button accent" :onclick="`moveFolder('${folder.folderId}')`">여기로 이동</button>
                    <button class="button sub_button delete" v-on:click="cancleMode()">이동 취소</button>
                </div>
            </div>

            <div id="drive_info">
                <div id="total_used_bar">
                    <div></div>
                </div>
                <p>드라이브 전체 {{formatBytes(drive.total)}} 중 {{formatBytes(drive.used)}} 사용 중</p>
            </div>
        </aside>
    </main>
    <div>
        <div id="create_drive_box" class="popup main center">
            <form v-if="step==0" autocomplete="off" onsubmit="createDriveBoxView.changeStep(1);createDrive();event.preventDefault();">
                <h2>환영합니다</h2>
                <p>
                    BSM Cloud는 인터넷을 통해 언제 어디서나 접속할 수 있는 클라우드 서비스 입니다.
                    <br>
                    이 서비스를 이용하기 위해 BSM 계정이 필요하며 다음의 사용자 정보들이 필요합니다
                </p>
                <p>유저코드: 사용자를 식별하기 위해 필요</p>
                <div class="bottom_box">
                    <label>
                        <input type="checkbox" required="true">
                        정보 제공에 동의합니다
                    </label>
                </div>
                <button type="submit" class="button main_button accent">드라이브 생성</button>
            </form>
            <div v-if="step==1">
                <h2>생성중...</h2>
                <p>드라이브 생성중 입니다. 잠시 기다려주세요.</p>
            </div>
            <div v-if="step==2">
                <div class="popup_close_button x_button" onClick="popupClose(this.parentElement.parentElement);$('.dim.no_popup_close').classList.remove('on');"></div>
                <h2>성공</h2>
                <p>드라이브 생성에 성공하였습니다.</p>
            </div>
        </div>
        
        <div id="share_file_box" class="popup main center">
            <div class="popup_close_button x_button" onClick="popupClose(this.parentElement);"></div>
            <h2>파일 공유</h2>
            <h4>일반 공유</h4><br>
            <p>파일을 공유할 수 있는 링크가 생성됩니다</p>
            <button v-if="!file.isShare" class="button off" :onclick="`shareFile('${file.fileId}', true)`">공유 꺼짐</button>
            <button v-else class="button on" :onclick="`shareFile('${file.fileId}', false)`">공유 켜짐</button>
            <br><br>
            <h4>간편 공유</h4><br>
            <p>2분동안 사용할 수 있는 4자리의 코드가 발급되며 홈 화면에서 코드를 입력해 파일에 접근 할 수 있습니다</p>
            <button class="button" :onclick="`shareFileCode('${file.fileId}')`">간편 공유</button>
        </div>

        <div id="share_file_code_box" class="popup main center">
            <div class="popup_close_button x_button" onClick="popupClose(this.parentElement);"></div>
            <h2>간편 공유 완료</h2>
            <p>코드가 클립보드에 복사되었습니다.</p>
            <p>아래의 코드는 2분동안 사용가능 합니다</p>
            <h2 id="share_file_code"></h2>
        </div>

        <div id="file_url_box" class="popup main center">
            <div class="popup_close_button x_button" onClick="popupClose(this.parentElement);"></div>
            <h2>공유 완료</h2>
            <p>링크가 클립보드에 복사되었습니다.</p>
            <details>
                <summary>공유된 파일 링크</summary>
                <a href="" target="blank" id="share_file_url"></a>
            </details>
        </div>

        <div id="create_folder_box" class="popup main center">
            <div class="popup_close_button x_button" onClick="popupClose(this.parentElement);"></div>
            <form>
                <h2>폴더 생성</h2>
                <input id="create_folder_name" class="input_text" type="text" placeholder="폴더 이름" required>
                <button type="submit" class="button main_button accent">폴더 생성</button>
            </form>
        </div>
    </div>
    <%- include('../common/common') %>
    <script src="/js/drive/load.js"></script>
    <script src="/js/drive/main.js"></script>
</body>
</html>