<html lang="kr" class="dark">
<head>
    <%- include('../common/head') %>
    <title>BSM Cloud</title>
    <meta property="title" content="BSM Cloud">
    <meta property="description" content="BSM 클라우드 서비스">
    <meta property="og:title" content="BSM Cloud">
    <meta property="og:description" content="BSM 클라우드 서비스">
    <link rel="stylesheet" type="text/css" href="/css/pages/home.css">
</head>
<body>
    <main>
        <div>
            <h1 id="main">BSM Cloud</h1>
            <p id="main">아주 환상적인 클라우드 서비스</p>
            <button class="button" onclick="alert('준비 중 입니다')">BSM 계정으로 계속</button>
        </div>
    </main>
</body>
</html>